.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

ul.nav{
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}

.nav li { 
  display: inline; 
}

ul.nav a {
  display: inline-block;
  width: 5em;
  padding:10px;
  border: 1px dashed #333;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

ul.nav a:hover{
  background-color: rgb(48, 47, 47);
  color: #a77575;
  font-size: 16px;
}
